@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-w-[320px] h-screen relative m-0 p-0 bg-background text-foreground overflow-hidden;
  }
  
  #root {
    @apply h-full w-full;
    background-color: var(--background);
  }
}