@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html {
    background-color: var(--background);
  }

  body {
    @apply min-w-[320px] h-screen relative m-0 p-0 bg-background text-foreground overflow-hidden;
    overflow-x: hidden;
    background-color: var(--background);
  }
  
  #root {
    @apply h-full w-full overflow-hidden;
    background-color: var(--background);
    max-width: 100vw;
  }
}